table{
  border: 1px solid black;
  border-collapse: collapse;
}
tr{
  padding: 20px;
  border: 1px solid black;
  background-color: #cce6ff;

}
th{
  padding: 20px;
}
form{

}
#logo,#cookieSales{
  font-family: 'Lobster', cursive;
  color:#ff6600;
}
#cookieSales{
  width:300px;
}
#logo{
  font-size: 50px;
  pi
}
form{
  border:2px solid black;
  height:100px;
}
